<% wrap_layout :layout do %>
  <%= partial "partials/global_navigation" %>
<!--
  <div class="search">
    <%= partial "partials/docsearch" %>
  </div>
 -->
  <main id="main" class="c-frame__body c-container" role="main">
    <nav class="foo">
      <%= partial "partials/documentation_nav" %>
    </nav>

    <div class="bar js-anchor-links">
      <%= yield %>
    </div>
  </main>
<% end %>
