<% wrap_layout :layout do %>
  <div class="wrap-container">
    <nav class="sidebar">
      <%= partial 'partials/sites_built_with_nav' %>
    </nav>

    <main role="main">
      <%= yield %>
    </main>
  </div>
<% end %>
